<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        
        <i class="fas fa-user-circle"></i>  {{turfname}}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  aria-current="page"  routerLink="/landing">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/terms">Terms&Conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" routerLink="">Logout</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
</nav>

<div class="row m-3">

    <h3 class="headclass" style="text-align: center; color: rgb(3, 86, 121);"> Terms & Conditions</h3>
     <div class="card mb-3">
        <ul>
            <li>
                Please read these terms carefully before using the online payment facility. Using the online payment facility on this website indicates that you accept these terms. If you do not accept these terms do not use this facility.
            </li>
            <li>
              Using the online payment facility on this website indicates that you accept these terms.
          </li>
          <li>
            If you do not accept these terms do not use this facility.
          </li>
            <li>
                If you want to cancel your booking then we will refund in 5-7 days.
            </li>
           
        </ul>
     </div>
     <h3 class="headclass" style="text-align: center; color: rgb(3, 86, 121);"> Privacy and Policies</h3>
     <div class="card mb-3 ">
      <h5 class="m-2">1. INTRODUCTION</h5>
        <span class="m-2">Welcome to 11SportsTeam("we", "our", "us"). We are committed to protecting and respecting your privacy. 
      This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our platform, 
      including our website and mobile applications.</span>
      <h5 class="m-2">2. INFROMATION WE COLLECT</h5>
      <p class="m-2"> We may collect and process the following data:</p>
      <ul>
        <li>
          Personal Information: Name, email address, phone number, and payment information.
        </li>
        <li>
          Booking Information: Details about your turf bookings, including date, time, and location.
      </li>
      <li>
        Usage Data: Information about how you use our platform, such as the pages you visit and features you use.
      </li>
       
       
    </ul>

    <h5 class="m-2">3. HOW WE USE YOUR INFORMATION</h5>
    <p class="m-2">We use the information we collect for various purposes, including:</p>
    <ul>
      <li>
        To process and manage your bookings.
      </li>
      <li>
        To communicate with you about your bookings and our services.
    </li>
    <li>
      To provide customer support.
    </li>
    <li>
      To improve our platform and user experience.
    </li>
    <li>
      To comply with legal obligations.
    </li>
     
     
  </ul>   

  <h5 class="m-2">4. COOKIES AND TRACKING TECHNOLOGIES</h5>
    <span class="m-2">
      We use cookies and similar tracking technologies to enhance your experience on our platform.
       You can control the use of cookies through your browser settings.
    </span>  
    <h5 class="m-2">5. CONTACT US</h5>

      <p class="m-2"> If you have any questions or concerns about this Privacy Policy, please contact us at: </p>

      <ul>
        <li>Company Name : 11SportsTeam</li>
        <li>Contact Info : Pandhrewasti Punavale Pune 411033</li>
        <li>Email Address: support@11sportsteam.com</li>
        <li>Phone Number : +91-9130657115</li>
      </ul>

    </div>
 </div>